.ui-btn {
  width: 240px;
  margin: 6px;
  padding: 12px;
  font-size: 30px;
  background-color: cornflowerblue;
  opacity: 0.96;
  border-radius: 24px;
  text-align: center;
}

.gray-btn {
  background-color: dimgray;
}