.ui-btn {
  width: 240px;
  margin-top: 12px;
  padding: 12px;
  background-color: #222;
  border-width: 1px;
  border-color: #666;
  border-radius: 24px;
  text-align: center;
  font-size: 30px;
}

.ui-round-btn {
  width: 72px;
  height: 72px;
  margin-left: 12px;
  border-radius: 72px;
  align-items: center;
  justify-content: center;
  background-color: #222;
  border-width: 1px;
  border-color: #666;
}

.main-card-wrapper {
  flex-direction: column;
  align-items: center;
}

.main-card {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
  border-radius: 24px;
  flex-direction: column;
}

.main-card-title {
  height: 48px;
  margin-left: 24px;
  margin-bottom: 12px;
  font-size: 30px;
  text-align: left;
}

.option-list {
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
}

.option-card-wrapper {
  width: 132px;
  height: 84px;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  border-width: 3px;
  background-color: transparent;
}

.option-card {
  width: 120px;
  height: 72px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.option-round-btn {
  width: 72px;
  height: 72px;
  margin-left: 12px;
  border-radius: 72px;
  align-items: center;
  justify-content: center;
  background-color: #333;
}